.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  // position: sticky;
}

.header-buttons-wrapper {


}

.header-button-order {
  padding: 1.5rem 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  border: 0.1rem  var(--black)  solid;
  border-radius: 18rem;
  background: transparent;
}

.header-button-menu {

  
}