.section-map {}

.container {}

.section-map__title {
  margin-bottom: 6rem;
}

.section-map__wrapper {
  width: 100%;
  height: 75.5rem;
  position: relative;
}


.section-map__address {
  position: absolute;
  top: 9.3rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.section-map__address-card {

  padding: 5rem;
  border-radius: 4rem;
  background: var(--white);

  .section-map__address-title {
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
  }

  .section-map__address-subtitle {
    width: 43.3rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .section-map__address-list{
    width: 43.3rem;
    list-style-type: disc; 
    list-style-position: inside;
  }


}