---
import { Image } from "astro:assets";
import img from "../../images/container-about.jpg";
---

<div class="container">
  <section class="section-about">
    <div class="section-about__img">
      <Image  src={img} alt="about-img" />
    </div>
    
    <div class="section-about__wrapper">
      <h2 class="section-title section-about__title">О компании</h2>
      <p class="section-about__subtile">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit, sed quia consequuntr
      </p>
      <div class="section-about__description">
        <div class="section-about__description-text">
          <p>+25 штук</p>
          <p>Количество контейнеров для аренды</p>
        </div>
        <div class="section-about__description-text">
          <p>+5 лет</p>
          <p>Опыт работы</p>
        </div>
      </div>
    </div>
  </section>
</div>
