---
import { Image } from "astro:assets";
// import  rent from '../../images/image-rent.jpg';
---

<section class="section-advantages">
  <div class="container">
    <h2 class="section-title section-advantages__title">Преимущества</h2>
    <div class="section-advantages__wrapper">
      <div class="section-advantages__item">
        <p class="section-advantages__item-number">01</p>
        <p class="section-advantages__item-title">Лучшая цена</p>
        <p class="section-advantages__item-subtitle">Даем лучшую цену среди всех конкурентов</p>
      </div>
      <div class="section-advantages__item">
        <p class="section-advantages__item-number">02</p>
        <p class="section-advantages__item-title">Договор</p>
        <p class="section-advantages__item-subtitle">Заключаем договор с каждым клиентом компании.</p>
      </div>
    </div>
  </div>
</section>
