---
import { Image } from "astro:assets";
import img from "../../images/answers.jpg";
---

<div class="container">
  <section class="section-answers">
    <h1 class="section-title section-answers__title">кому подходит</h1>
    <div class="section-answers__wrapper">
      <div class="section-answers__img">
        <Image src={img} alt="answers-img" />
      </div>
      <div class="answers-accordion">
        <button class="answers-accordion__btn">
          <div class="answers-accordion__header">
            <p>Что можно хранить в контейнерах</p>
            <div class="answers-accordion__svg">
              <svg class="active-svg"><use href="#cardArrowIcon"></use></svg>
            </div>
          </div>
          <ul class="answers-accordion__panel active">
            <li>Мебель и предметы интерьера;</li>
            <li>Бытовая техника;</li>
            <li>Оргтехнику, компьютеры;</li>
            <li>Вещи для детей – кроватки, коляски, игрушки;</li>
            <li>Одежду, обувь;</li>
            <li>Спортивный инвентарь;</li>
            <li>Приспособления для путешествия и туризма;</li>
            <li>Документы, книги;</li>
            <li>Автомобильные шины;</li>
            <li>Строительные материалы;</li>
            <li>Строительные инструменты и оборудование.</li>
          </ul>
        </button>

        <button class="answers-accordion__btn">
          <div class="answers-accordion__header">
            <p>Что можно хранить в контейнерах</p>
            <div class="answers-accordion__svg">
              <svg><use href="#cardArrowIcon"></use></svg>
            </div>
          </div>
          <ul class="answers-accordion__panel">
            <li>Мебель и предметы интерьера;</li>
            <li>Бытовая техника;</li>
            <li>Оргтехнику, компьютеры;</li>
            <li>Вещи для детей – кроватки, коляски, игрушки;</li>
            <li>Одежду, обувь;</li>
            <li>Спортивный инвентарь;</li>
            <li>Приспособления для путешествия и туризма;</li>
            <li>Документы, книги;</li>
            <li>Автомобильные шины;</li>
            <li>Строительные материалы;</li>
            <li>Строительные инструменты и оборудование.</li>
          </ul>
        </button>
      </div>
    </div>
  </section>
</div>
