---
import FormContract from "@elements/Form-contract.astro";
// import  rent from '../../images/image-rent.jpg';
---

<section class="section-contract">
  <div class="container section-contract__wrapper">
    <div class="section-contract__description">
      <h1 class="section-title section-contract__title">Договор</h1>
      <div class="section-rent__subtitle">
        <p>Оставьте форму для заполнения договора и мы свяжемся с вами в ближайшее время</p>
        <p>Или скачайте договор <a href="#">dogovor.docx</a></p>
      </div>
    </div>
    
      <FormContract/>
   
 
  </div>
</section>
