---
import Logo from "@elements/Logo.astro";
---

<header>
  <div class="container">
    <div class="header-wrapper">
      <Logo />
      <div class="header-buttons-wrapper">
        <button class="header-button-order">Заказать звонок</button>
        <div class="header-button-menu"></div>
      </div>
    </div>
  </div>
  
</header>
