---

---

<section class="section-map">
  <div class="container">
    <h2 class="section-title section-map__title">Адрес склада</h2>
    <div class="section-map__wrapper">
      <div class="section-map__address">
        <div class="section-map__address-card">
          <p class="section-map__address-title">Адрес склада</p>
          <p class="section-map__address-subtitle">Москва, Северянинский проезд, владение 2</p>
        </div>
        <div class="section-map__address-card">
          <p class="section-map__address-title">Как добраться</p>
          <ul  class="section-map__address-list">
            <li>На машине </li>
            <li>На МЦК до станции Ростокино и далее 10 мин пешком</li>
            <li>На электричке Ярославского направления до станции Северянин и далее 10 мин пешком</li>
          </ul>
        </div>
      </div>
      <script
        type="text/javascript"
        charset="utf-8"
        async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3ffc4afa757679f11ce05a1a928832ab0d022f669cd69044288dbfc21de943e5&width=100%&height=100%&lang=ru_RU&scroll=true"
      ></script>
    </div>
  </div>
</section>
