---
import { Image } from 'astro:assets';
// import  rent from '../../../public/image-rent.jpg';
---

<section class="section-rent">
  <div class="container">
    <h1 class="section-title section-rent__title">Склад для вас</h1>
    <p class="section-rent__subtitle">
      Аренда склада для индивидуального хранения
    </p>
  </div>


  <div class="section-rent__wrapper">

    <img src="/assets/image-rent.jpg" alt="A starry night sky.">
    <!-- <Image  src={rent} alt='rent' /> -->
  </div>


</section>
