---
import { Image } from 'astro:assets';
import  logo from '../../images/image-rent.jpg';
---

<section class="section-rent">
  <h1 class="section-title section-rent__title">Склад для вас</h1>
  <p class="section-rent__subtitle">
    Аренда склада для индивидуального хранения
  </p>

  <div class="section-rent__wrapper">
    <div class="section-rent__btn">
      <button>Подобрать склад</button>
    </div>
    <Image   class="section-rent__img"  src={logo}  alt="logo" />

  </div>
</section>
