---

---

<section class="section-storage">
  <h2 class="section-title section-storage__title">Варианты хранения</h2>
  <div class="section-storage__wrapper">
    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>

    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>

    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>

    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>


    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>


    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>


    <div class="section-storage__item">
      <img class="storage__item-img" src="images/container-40f.jpg" alt="container-40f">
      <div class="storage__item-footer">
        <h3 class="storage__item-title">40 футов</h3>
        <div class="storage__item-subtitle">
          <p>Площадь: 28,3 м2 </p>
          <p>Габариты: 12,04 х 2,35 х 2,7</p>
          <p>Объем: 76,4 м3 </p>
        </div>
        <div class="storage__item-request">Оставить заявку</div>
      </div>
    </div>


    <div class="section-storage__item-last">
<h3 >Не знаете какой контейнер вам нужен?</h3>
<p>Ответьте на 5 вопросов и мы подберем нужный размер</p>
    </div>




  </div>
</section>
