---

---

<section class="section-work">
  <div class="container">
    <h2 class="section-title section-work__title">Как мы работаем</h2>
    <div class="section-work__wrapper">
      <div class="section-work__elem">
        <div class="section-work__elem-title">
          <p>01 шаг</p>
          <span></span>
        </div>
        <p class="section-work__elem-subtitle">
          Оставить заявку на нашем сайте, либо позвонить нам
        </p>
      </div>
      <div class="section-work__elem">
        <div class="section-work__elem-title">
          <p>02 шаг</p>
          <span></span>
        </div>
        <p class="section-work__elem-subtitle">
          Согласование условий аренды: территория, размер контейнера, срок
        </p>
      </div>
      <div class="section-work__elem">
        <div class="section-work__elem-title">
          <p>03 шаг</p>
          <span></span>
        </div>
        <p class="section-work__elem-subtitle">
        Предоставляем склад под Ваши нужны
        </p>
      </div>
    </div>


  </div>
</section>
