---
import Layout from "../layouts/Layout.astro";
import Rent from "@sections/Rent.astro";
import Storage from "@sections/Storage.astro";
import About from "@sections/About.astro";
import Advantages from "@sections/Advantages.astro";
import Contract from "@sections/Contract.astro";
import Work from "@sections/Work.astro";
import Map from "@sections/Map.astro";
import Answers from "@sections/Answers.astro";
---

<Layout title="СКЛАД ДЛЯ ВАС">
  <div class="content">
    <Rent />
    <Storage />
    <About />
    <Advantages />
    <Contract />
    <Answers/>
    <Work />
    <Map />
  </div>
</Layout>

<style></style>
