---
import Layout from "../layouts/Layout.astro";
import Rent from "@sections/Rent.astro";

---

<Layout title="СКЛАД ДЛЯ ВАС">
  <div class="content">
    <Rent />
  </div>
</Layout>

<style></style>
