---

---

<form action="#" class="form-contract">
  <div class="form-contract__input">
    <input class="form-contract__input-name" type="text"  placeholder="Название организации" />
    <input class="form-contract__input-tel" type="number"  placeholder="Телефон"  />
    <input class="form-contract__input-person" type="text"  placeholder="Контактное лицо" />
    <input class="form-contract__input-email" type="email"  placeholder="E-mail" />
  </div>
  <div class="form-contract__submit">
    <p>
      Нажимая кнопку “Отправить” вы соглашаетесь на обработку персональных
      данных
    </p>
    <button class="form-contract__btn" type="submit">Отправить</button>
  </div>
</form>
